<link href="~/css/Admin.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <partial name="_sidebar" />
        </div>
        <div class="col-md-8 d-flex justify-content-center align-items-center mt-5 pt-5">
            <div class="w-100">

                <table class="table table-bordered table-hover text-white text-center">
                    <thead style="background-color: #6a0dad;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Cat Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #d4a6e4;">
                        @foreach (var item in ViewBag.category)
                        {
                            <tr>
                                <td class="text-black">@item.Id</td>
                                <td class="text-black">@item.CatList</td>
                                
                             
                                <td>
                                    <div class="d-flex justify-content-around">
                                        <a class="btn btn-warning me-1" asp-controller="Admin" asp-area="Admin" asp-action="EditCat" asp-route-id="@item.Id">Edit</a>
                                        <a class="btn btn-danger" asp-controller="Admin" asp-area="Admin" asp-action="DeleteCat" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                      
                    </tbody>
                   
                </table>
                <div class="container d-flex justify-content-center align-items-center">
                    <a asp-action="Addcat" asp-controller="Admin" asp-area="Admin" class="btn w-75 text-light p-2" style="background-color: #6a0dad;">Add Category</a>
                </div>
            </div>
        </div>
    </div>
</div>
